In [2]:
import pandas as pd

In [3]:
# creación de una serie sencilla

obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
obj.values # muestra los valores que contiene la serie

array([ 4,  7, -5,  3])

In [6]:
obj.index # muestra los índices

RangeIndex(start=0, stop=4, step=1)

In [7]:
# Asignar índices personalizados a la series

obj2 = pd.Series([4,7,-5,3], index = ["d","b","a","c"])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [11]:
# Selección o extracción de elementos

print(obj2["a"])

print(obj2["d"])

obj2[["c", "a", "d"]]

-5
4

c    3
a   -5
d    4
dtype: int64

In [13]:
# Seleccionar elementos con ciertos criterios

obj2[obj2 > 0] # muestra los valores mayores que 0

d    4
b    7
c    3
dtype: int64

In [14]:
# Operaciones sobre los elementos. Se aplica sobre todos los elementos

obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [24]:
# Creación de Series a partir de diccionarios

sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}

In [25]:
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [20]:
# Crear una lista en el orden que nosotros queramos

sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
estados = ["California", "Ohio", "Oregon", "Texas"]

In [21]:
obj4 = pd.Series(sdata, index = estados)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [22]:
# Encontrar valores faltantes o vacíos

pd.isnull(obj4) # también obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [23]:
# Encontrar los valores que no están vacíos

pd.notnull(obj4) # también obj4.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [26]:
# Operaciones entre Series

obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [27]:
# Asignar nombres a las Series.

obj4.name = "población"

obj4.index.name = "Estado"

obj4

Estado
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: población, dtype: float64